.Note {
  width: 100%;
  max-width: 250px;
  background-color: $warning;
  word-wrap: break-word;
  padding: 20px 10px 10px 10px;
  position: relative;
  font-size: 24px;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  color: $dark;

  &:hover .delete {
    opacity: 1;
    pointer-events: all;
  }

  &:hover .changeColors {
    opacity: 1;
    pointer-events: all;
  }
}

.delete,
.changeColors {
  position: absolute;
  opacity: 0;
  transition: 0.2s opacity, 0.2s transform;
  pointer-events: none;
  z-index: 2;
}

.delete {
  top: -10px;
  left: -10px;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
}

.changeColors {
  bottom: 5px;
  right: 5px;
  z-index: 1;
}
