.wrapper{
    background-color: $main-bg;
    min-height: 100vh;
    padding: 20px;
}

.inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;    
}

.title{
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    margin: 20px 0 40px ;
}

