.ChangeColors {
  font-family: sans-serif;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: end;
  font-size: 13px;
}

.inner {
  display: flex;
  gap: 30px;
  margin-left: 20px;
}

.icon {
  transition: 0.2s transform;
  width: 30px;
  height: 30px;
  display: block;
  margin-left: auto;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
}

.textColor,
.noteColor {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    display: block;
    width: 30px;
    height: 30px;
    background: none;
  }
}
