.AddNote{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $success;
    border-radius: 50%;
    font-size: 20px;
    color: $white;
    cursor: pointer;
    transition: .2s transform;

    &:hover{
        transform: scale(1.2);
    }
}